{% extends 'layouts/base.html' %}

{% block title %}Joshua Tsang's Personal Page{% endblock %}
{% block meta_description %}Browse around and I hope you enjoy
your stay.{% endblock %}


{% block body %}
    <body>
    <div class="container sm-margin-top">
        <h1>Generate Mel-Spectrograms from YouTube</h1>
    </div>
    </body>
    <p>
        Have you ever wondered how your favourite music looks like when represented in frequency-time space?
        Well, now is your chance!
        Simply find any YouTube video in your browser and copy the contents of the address bar into the field below.
        The audio present in the video will be converted into a pretty spectrogram.
    </p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            {{ form.yt_url.label }}<br>
            {{ form.yt_url() }}
            {% if form.yt_url.errors %}
                <ul class="errors">{% for error in form.yt_url.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}