amqp==2.5.1
Babel==2.9.1
billiard==3.6.1.0
celery==4.3.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
Flask>=1.1.1
Flask-WTF
flower
gunicorn==20.0.0
importlib-metadata==0.19
idna==2.8
itsdangerous==1.1.0
Jinja2>=2.10.1
MarkupSafe==1.1.0
kombu
pillow
pytz==2019.2
requests
urllib3>=1.24.2
tornado
vine==1.3.0
Werkzeug>=0.15.0
WTForms
zipp
