certifi==2018.11.29
chardet==3.0.4
Click==7.0
Flask==0.12
Flask-WTF==0.14.2
gunicorn==19.6.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
requests==2.21.0
urllib3==1.24.1
Werkzeug==0.14.1
WTForms==2.2.1
