[submodule "yt2spec"]
	path = yt2spec
	url = git@github.com:joshuamhtsang/yt2spec.git
	branch = master
[submodule "sleeper"]
	path = sleeper
	url = git@github.com:joshuamhtsang/sleeper.git
	branch = master
