[submodule "yt2spec"]
	path = yt2spec
	url = git@github.com:joshuamhtsang/yt2spec.git
	branch = master
[submodule "sleeper"]
	path = sleeper
	url = git@github.com:joshuamhtsang/sleeper.git
	branch = master
[submodule "short_straw"]
	path = short_straw
	url = git@github.com:joshuamhtsang/short_straw.git
