[submodule "advert_detection"]
	path = advert_detection
	url = git@github.com:joshuamhtsang/advert_detection.git
	branch = master
[submodule "sleeper"]
	path = sleeper
	url = git@github.com:joshuamhtsang/sleeper.git
	branch = master
[submodule "short_straw"]
	path = short_straw
	url = git@github.com:joshuamhtsang/short_straw.git
