{% extends 'layouts/base.html' %}

{% block title %}Joshua Tsang's Personal Page{% endblock %}
{% block meta_description %}Browse around and I hope you enjoy
your stay.{% endblock %}


{% block body %}
    <body>
    <div class="container sm-margin-top">
        <h1>Short Straw</h1>
    </div>
    </body>
    <form action="" method="post" novalidate>
        {{ list_form.hidden_tag() }}
        {{ list_form.csrf_token }}
        <p>
            {{ list_form.choices_list_str.label }}<br>
            {{ list_form.choices_list_str() }}
            {% if list_form.choices_list_str.errors %}
                <ul class="errors">{% for error in list_form.choices_list_str.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
        </p>
        <p>{{ list_form.submit() }}</p>
    </form>
    <form action="" method="post" novalidate>
        {{ draw_form.hidden_tag() }}
        {{ draw_form.csrf_token }}
        <p>
            {{ draw_form.session_id_str.label }}<br>
            {{ draw_form.session_id_str() }}
            {% if draw_form.session_id_str.errors %}
                <ul class="errors">{% for error in draw_form.session_id_str.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
        </p>
        <p>{{ draw_form.submit() }}</p>
    </form>
{% endblock %}